<!DOCTYPE>
<html lang="ru">
<head>
    <title>Ponylib</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Ponylib</h1>

{{ .test }}

</body>
</html>
