# python
*.py[co]

# IDE
.idea/
.project/

# Mac OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes


# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini

#virtualenv
bin/
build/
include/
lib/
local/
.Python
.venv

# project specific
devserver-default-host
var/
settings/*.py
