# _*_ coding: utf-8 _*_

import os.path as path
def get(settings):
    return {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': path.join(settings['VAR_ROOT'], 'sqlite.db'),
            'USER': '',
            'PASSWORD': '',
            'HOST': '',     # Set to empty string for localhost.
            'PORT': '',                      # Set to empty string for default,

            # for testing
            'TEST_NAME' : 'sqlite_test.db'
        }
    }