# _*_ coding: utf-8 _*_

def get(settings):
    return {
        'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': 'ponylib',
            'USER': 'ponylib',
            'PASSWORD': 'pa$$word',
            'HOST': '',     # Set to empty string for localhost.
            'PORT': '',                      # Set to empty string for default,

            # for testing
            #'TEST_NAME' : 'ponylib_dev_test'
        }
    }