# _*_ coding: utf-8 _*_

def get(settings):
    return {
        'default': {
            'ENGINE': 'django.db.backends.mysql',
            'NAME': 'ponylib',
            'USER': 'ponylib',
            'PASSWORD': 'pa$$word',
            'HOST': '',     # Set to empty string for localhost.
            'PORT': '',                      # Set to empty string for default,
            'OPTIONS' : {
                'init_command': 'SET storage_engine=INNODB, SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED'
            }
        }
    }