.results .book-row {
    margin-top: 20px;
}
.results .book-row .book-title-row {
}

.results .book-row .author-names-row {
}

.results .book-row .number {
    padding-top: 20px;
    color: #555;
    width: 40px;
}