# password for DB user, change it to something, use only [a-z0-9] to prevent escaping problems
POSTGRES_PASSWORD=somepass

# Language for text search.
# Choose right one before first app run!
# Change language after first DB migration don't support for now.
# Supported languages:
#   simple, arabic, danish, dutch, english, finnish, french, german,
#   hungarian, indonesian, irish, italian, lithuanian, nepali, norwegian,
#   portuguese, romanian, russian, spanish, swedish, tamil, turkish
FTS_LANGUAGE=english

# in most cases, don't edit variable bellow
POSTGRES_DB=ponylib
POSTGRES_USER=ponylib
POSTGRES_INITDB_ARG="--locale=en_US.UTF-8 -E UTF-8"
DATABASE_URL=postgres://db/${POSTGRES_DB}?user=${POSTGRES_USER}&password=${POSTGRES_PASSWORD}
